_pugfiles/section-works.pug
mixin thumb
  a(href="#" style="background-image: url(http://loremflickr.com/g/320/240/paris,girl/all)").project-thumb
    .project-meta
      .name Project 1
      .desc In Progress


section.works
  .flexx.flexx-center
    .col-50.grid
      .grid-wrap
        +thumb
        +thumb
        +thumb
        +thumb
        +thumb
        +thumb
        +thumb
        +thumb
        +thumb
        +thumb
        +thumb
        +thumb



    .col-50.flexx.flexx-center.order-first
      .col-1.minions

_includes/section-works.html
<section class="works"><div class="flexx flexx-center"><div class="col-50 grid"><div class="grid-wrap"><a class="project-thumb" href="#" style="background-image: url(http://loremflickr.com/g/320/240/paris,girl/all)"><div class="project-meta"><div class="name">Project 1</div><div class="desc">In Progress</div></div></a><a class="project-thumb" href="#" style="background-image: url(http://loremflickr.com/g/320/240/paris,girl/all)"><div class="project-meta"><div class="name">Project 1</div><div class="desc">In Progress</div></div></a><a class="project-thumb" href="#" style="background-image: url(http://loremflickr.com/g/320/240/paris,girl/all)"><div class="project-meta"><div class="name">Project 1</div><div class="desc">In Progress</div></div></a><a class="project-thumb" href="#" style="background-image: url(http://loremflickr.com/g/320/240/paris,girl/all)"><div class="project-meta"><div class="name">Project 1</div><div class="desc">In Progress</div></div></a><a class="project-thumb" href="#" style="background-image: url(http://loremflickr.com/g/320/240/paris,girl/all)"><div class="project-meta"><div class="name">Project 1</div><div class="desc">In Progress</div></div></a><a class="project-thumb" href="#" style="background-image: url(http://loremflickr.com/g/320/240/paris,girl/all)"><div class="project-meta"><div class="name">Project 1</div><div class="desc">In Progress</div></div></a><a class="project-thumb" href="#" style="background-image: url(http://loremflickr.com/g/320/240/paris,girl/all)"><div class="project-meta"><div class="name">Project 1</div><div class="desc">In Progress</div></div></a><a class="project-thumb" href="#" style="background-image: url(http://loremflickr.com/g/320/240/paris,girl/all)"><div class="project-meta"><div class="name">Project 1</div><div class="desc">In Progress</div></div></a><a class="project-thumb" href="#" style="background-image: url(http://loremflickr.com/g/320/240/paris,girl/all)"><div class="project-meta"><div class="name">Project 1</div><div class="desc">In Progress</div></div></a><a class="project-thumb" href="#" style="background-image: url(http://loremflickr.com/g/320/240/paris,girl/all)"><div class="project-meta"><div class="name">Project 1</div><div class="desc">In Progress</div></div></a><a class="project-thumb" href="#" style="background-image: url(http://loremflickr.com/g/320/240/paris,girl/all)"><div class="project-meta"><div class="name">Project 1</div><div class="desc">In Progress</div></div></a><a class="project-thumb" href="#" style="background-image: url(http://loremflickr.com/g/320/240/paris,girl/all)"><div class="project-meta"><div class="name">Project 1</div><div class="desc">In Progress</div></div></a></div></div><div class="col-50 flexx flexx-center order-first"><div class="col-1 minions"></div></div></div></section>
